In [5]:
import pandas as pd

# Import the CSV file into a DataFrame
all_seasons_data = pd.read_csv("all_seasons_data.csv")

In [6]:
# Create the 'win' column using a lambda function
all_seasons_data['winning_class'] = all_seasons_data.apply(
    lambda row: 1 if row['home_odd_win'] == 1 else 
                2 if row['draw_odd_win'] == 1 else 
                3 if row['away_odd_win'] == 1 else 0,
    axis=1
)

# Display the updated DataFrame
display(all_seasons_data.head(20))

,team1,team2,matchStartTime,team1score,team2score,homeodd,drawodd,awayodd,home_odd_win,draw_odd_win,away_odd_win,bookmakers_prediction,winning_class
0,Arsenal,Leicester,16:00,2,1,1.26,4.57,9.00,1,0,0,1,1
1,Aston Villa,Manchester Utd,16:00,0,2,2.03,3.28,3.10,0,0,1,0,3
2,Blackburn,Birmingham,16:00,1,1,2.08,3.17,3.10,0,1,0,0,2
3,Bolton,Fulham,16:00,0,2,1.95,3.22,3.37,0,0,1,0,3
4,Charlton,Southampton,16:00,2,1,2.00,3.22,3.25,1,0,0,1,1
5,Chelsea,Leeds,16:00,1,0,1.34,4.04,7.83,1,0,0,1,1
6,Liverpool,Newcastle,16:00,1,1,2.03,3.25,3.13,0,1,0,0,2
7,Manchester City,Everton,16:00,5,1,1.97,3.20,3.35,1,0,0,1,1
8,Portsmouth,Middlesbrough,16:00,5,1,2.08,3.18,3.08,1,0,0,1,1
9,Wolves,Tottenham,16:00,0,2,2.26,3.25,2.66,0,0,1,0,3
10,Southampton,Newcastle,21:00,3,3,3.22,3.28,2.00,0,1,0,0,2
11,Fulham,Arsenal,17:05,0,1,3.28,3.11,2.03,0,0,1,1,3
12,Newcastle,Wolves,16:00,1,1,1.24,4.80,9.33,0,1,0,0,2
13,Birmingham,Liverpool,18:35,0,3,3.15,3.27,2.02,0,0,1,1,3
14,Everton,Bolton,16:00,1,2,2.16,3.20,2.92,0,0,1,0,3
15,Leeds,Charlton,16:00,3,3,2.49,3.15,2.51,0,1,0,0,2
16,Leicester,Portsmouth,16:00,3,1,2.42,3.20,2.52,1,0,0,1,1
17,Middlesbrough,Manchester City,16:00,2,1,2.07,3.20,3.10,1,0,0,1,1
18,Southampton,Aston Villa,16:00,1,1,2.70,3.25,2.25,0,1,0,0,2
19,Tottenham,Blackburn,16:00,1,0,2.18,3.22,2.85,1,0,0,1,1

In [7]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, accuracy_score

# Define features (X) and target (Y)
X = all_seasons_data[['homeodd', 'drawodd', 'awayodd']]
Y = all_seasons_data['winning_class']

# Split the dataset into training and testing sets
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

# Model 1: Logistic Regression
logistic_model = LogisticRegression()
logistic_model.fit(X_train, Y_train)
logistic_predictions = logistic_model.predict(X_test)

print("Logistic Regression Results:")
print("Accuracy:", accuracy_score(Y_test, logistic_predictions))
print(classification_report(Y_test, logistic_predictions))

# Model 2: Random Forest Classifier
random_forest_model = RandomForestClassifier(n_estimators=100, random_state=42)
random_forest_model.fit(X_train, Y_train)
random_forest_predictions = random_forest_model.predict(X_test)

print("Random Forest Classifier Results:")
print("Accuracy:", accuracy_score(Y_test, random_forest_predictions))
print(classification_report(Y_test, random_forest_predictions))

c:\users\abdou\appdata\local\programs\python\python38\lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\users\abdou\appdata\local\programs\python\python38\lib\site-packages\sklearn\metrics\_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\users\abdou\appdata\local\programs\python\python38\lib\site-packages\sklearn\metrics\_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\users\abdou\appdata\local\programs\python\python38\lib\site-packages\sklearn\metrics\_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

Logistic Regression Results:
Accuracy: 0.5550576184379001
              precision    recall  f1-score   support

           1       0.54      0.87      0.67       700
           2       0.00      0.00      0.00       381
           3       0.59      0.53      0.56       481

    accuracy                           0.56      1562
   macro avg       0.38      0.47      0.41      1562
weighted avg       0.43      0.56      0.47      1562

Random Forest Classifier Results:
Accuracy: 0.47631241997439183
              precision    recall  f1-score   support

           1       0.56      0.67      0.61       700
           2       0.23      0.17      0.19       381
           3       0.46      0.43      0.45       481

    accuracy                           0.48      1562
   macro avg       0.42      0.43      0.42      1562
weighted avg       0.45      0.48      0.46      1562

In [9]:
# Logistic Regression Predictions
logistic_results = pd.DataFrame({
    'Actual': Y_test,
    'Predicted_Logistic': logistic_predictions
})

print("Logistic Regression Results:")
display(logistic_results.head(10))

# Random Forest Predictions
random_forest_results = pd.DataFrame({
    'Actual': Y_test,
    'Predicted_RandomForest': random_forest_predictions
})

print("\nRandom Forest Classifier Results:")
display(random_forest_results.head(10))

# If you want to combine all in one DataFrame:
combined_results = pd.DataFrame({
    'Actual': Y_test.reset_index(drop=True),
    'Predicted_Logistic': logistic_predictions,
    'Predicted_RandomForest': random_forest_predictions
})

print("\nCombined Results:")
display(combined_results)

Logistic Regression Results:

      Actual  Predicted_Logistic
4756       1                   1
7380       1                   1
6094       2                   1
586        2                   3
4791       2                   3
7783       3                   3
1287       1                   1
811        3                   1
4959       3                   1
6473       3                   3

Random Forest Classifier Results:

      Actual  Predicted_RandomForest
4756       1                       1
7380       1                       1
6094       2                       1
586        2                       3
4791       2                       3
7783       3                       3
1287       1                       1
811        3                       1
4959       3                       1
6473       3                       3

Combined Results:

      Actual  Predicted_Logistic  Predicted_RandomForest
0          1                   1                       1
1          1                   1                       1
2          2                   1                       1
3          2                   3                       3
4          2                   3                       3
...      ...                 ...                     ...
1557       3                   3                       1
1558       3                   3                       3
1559       3                   1                       1
1560       2                   1                       3
1561       2                   1                       2

[1562 rows x 3 columns]